.settings/
.idea/
.vscode/
.mvn/
.gradle/
build/
target/
gradle/
tmp/
.project
.classpath
.factorypath
.DS_Store
mvnw
mvnw.cmd
gradlew
gradlew.bat
report*.zip
*.log
*.log.*
*.class
*.jar
*.out
*.iml
*.hprof
*.cap
*.jks
*.p12
*.crt
*.pem
*.der
